# Jekyll temporary files
.bundle/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
_site/
vendor/bundle/

# Local tool files
package.json
package-lock.json
node_modules/
.python-version
.lycheecache
lychee-report.md
