<br>
<hr>
<span class="entry-tags">{% include post-tags.html %}</span>
{% assign share_url = page.url | absolute_url | uri_escape %}
<span class="social-share">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}" title="Facebookで共有" class="tag" rel="noopener noreferrer">
    <span class="term"><i class="fa fa-facebook-square"></i> Share</span>
  </a>
  <a href="https://twitter.com/intent/tweet?text={{ page.title | append: ' ' | uri_escape }}{{ share_url }}" title="Xで共有" class="tag" rel="noopener noreferrer">
    <span class="term"><i class="fa fa-twitter-square"></i> Post</span>
  </a>
</span>
<div style="clear:both"></div>
