	<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
		<button class="dl-trigger">Open Menu</button>
		<ul class="dl-menu">
			<li><a href="{{ site.url }}/">home</a></li>
			<li>
				<a href="#">about</a>
				<ul class="dl-submenu">
				</ul><!-- /.dl-submenu -->
			</li>
			<li>
				<!-- 
				<a href="#">posts</a>
				<ul class="dl-submenu">
					<li><a href="{{ site.url }}/posts/">all posts</a></li>
					<li><a href="{{ site.url }}/tags/">all tags</a></li>
				</ul>
				-->
				<a href="/posts">全ての投稿</a>
			</li>
			<li><a href="/configs">ソフトウェア・ハードウェアの設定のまとめ</a></li>
			<li><a href="/kaggle">分析関連のまとめ</a></li>
			<li><a href="/healthcare">ヘルスケア関連のまとめ</a></li>
			<li><a href="/learnings">生涯学習関連のまとめ</a></li>
		</ul><!-- /.dl-menu -->
	</nav><!-- /.dl-menuwrapper -->
