{% assign related_map = site.data.related_posts.related %}
{% assign post_map = site.data.related_posts.posts %}
{% assign related_urls = related_map[page.url] %}
{% if related_urls and related_urls != empty %}
<section class="related-posts" aria-labelledby="related-posts-title">
  <h2 id="related-posts-title">関連記事</h2>
  <ul>
    {% for related_url in related_urls limit: 5 %}
      {% assign related = post_map[related_url] %}
      <li><a href="{{ site.url }}{{ related_url }}">{{ related.title | escape }}</a> <time datetime="{{ related.date }}">{{ related.date }}</time></li>
    {% endfor %}
  </ul>
</section>
{% endif %}
