---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
  {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <!-- Header -->
  <header class="header" role="banner">
	<div class="wrapper">
	  <div class="content">
		<div class="post-title">
		  <h1>{{ page.title }}</h1>
		  <a class="btn zoombtn" href="{{site.url}}">
			<i class="fa fa-home"></i>
		  </a>
		</div>
		<div class="post-list">
		  {% assign posts = site.posts | sort: "sort_key" | reverse %}
		  {% for post in posts %} 
			{% if post.healthcare %}
			<ul>
			  <li data-wow-duration="1.5s" style="padding: 0px;">
				<a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
				<p style="font-size: 0.8rem;">投稿日:{{ post.date | date: "%F" }}, 更新日: {{ post.update_dates[0] }}, 概要: {{ post.excerpt }}</p>
				<p style="font-size: 0.8rem; margin: 0px;">投稿日:{{ post.date | date: "%F" }}, 更新日: {{ post.update_dates[0] }}, 更新数: {{ post.update_dates.size }}</p>
				<p style="font-size: 0.8rem; margin: 0px;">タグ: {{ post.tags | join: ", " }}</p>
				<p style="font-size: 0.8rem; margin: 0px;">概要: {{ post.excerpt }}</p>
			  </li>
			</ul>
			<hr>
			{% endif %}
		  {% endfor %}
		</div>
	  </div>
	</div>
  </header>
  {% include scripts.html %}
</body>
</html>
