---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container">
            <div class="row">
                <a href="{{ site.url }}">
                    <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                </a>
                <h3 class="title">
                    <a class="zoombtn" href="{{ site.url }}">
                        <p style="font-size:1.2rem;font-weight:300">{{ site.title }}</p>
                    </a>
                </h3>
                <hr class="hr-line">
                <h3 class="title">
                    <a href="{{ site.url }}">
                        <p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
                    </a>
                </h3>
                <hr class="hr-line">
                <h3 class="title">
                    <a class="social-btn" href="http://twitter.com/nardtree" target="_blank">
                        <!-- twitter's simple icon -->
                        <img style="width: 32px !important;" src="https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/twitter.svg" />
                    </a>
                    <a class="social-btn" href="http://github.com/GINK03" target="_blank">
                        <!-- github's simple icon -->
                        <img style="width: 32px !important;" src="https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/github.svg" />
                    </a>
                    <a class="social-btn" href="http://qiita.com/nardtree" target="_blank">
                        <!-- Qiita's simple icon -->
                        <img style="width: 32px !important;" src="https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/qiita.svg" />
                    </a>
                    <a class="social-btn" href="https://medium.com/@catindog" target="_blank">
                        <!-- meidum's simple icon from 2020 -->
                        <img style="width: 32px !important;" src="https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/medium.svg" />
                    </a>
                    <a class="social-btn" href="https://www.linkedin.com/in/gimpei-kobayashi-208bba2a/" target="_blank">
                        <!-- linkedin's simple icon -->
                        <img style="width: 32px !important;" src="https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/linkedin.svg" />
                    </a>
                    <a class="social-btn" href="https://www.coursera.org/user/1e517cdd07ee93518df4e610c9870f53" target="_blank">
                        <!-- coursera's simple icon -->
                        <img style="width: 32px !important;" src="https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/coursera.svg" />
                    </a>
                    <a class="social-btn" href="https://www.kaggle.com/nardtree" target="_blank">
                        <!-- coursera's simple icon -->
                        <img style="width: 32px !important;" src="https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/kaggle.svg" />
                    </a>
                    <a class="social-btn" href="https://www.instagram.com/geckochan01/" target="_blank">
                        <!-- instagram's simple icon -->
                        <img style="width: 32px !important;" src="https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/instagram.svg" />
                    </a>
                    <a class="social-btn" href="https://www.youtube.com/channel/UCxEsUIC8H11lUODlFtCLOWw" target="_blank">
                        <!-- youtube's simple icon -->
                        <img style="width: 32px !important;" src="https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/youtube.svg" />
                    </a>
                </h3>
                <!-- {% include social-links.html %} -->
                <hr class="hr-line">
                <h3 class="title">
                    <a class="btn zoombtn" href="{{ site.url }}/about">
                        about me
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/posts">
                        posts/全ての投稿
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/configs">
                        configs/設定等
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/kaggle/">
					    analytics/分析関連
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/healthcare">
					    healthcare/ヘルスケア関連
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/learnings">
					    lifelong learning/生涯学習まとめ
                    </a>
                    <a class="btn zoombtn" href="http://catindog.hatenablog.com/">
                        hatenablog/はてなブログ
                    </a>
                    <a class="btn zoombtn" href="https://github.com/gink03">
                        github
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/resume">
                        cv & certifications/履歴書・資格・認定
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/papers">
                        papers/読んだ論文
                    </a>
                </h3>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
