---
layout: compress
---
<!DOCTYPE html>
<html lang="ja" class="no-js">
<head>
  {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <main class="header">
    <div class="wrapper animated fadeIn">
      <article class="content">
        <header class="post-title {% if page.feature %}feature{% endif %}">
          <h1>{{ page.title | escape }}</h1>
          <a class="btn zoombtn" href="{{ site.url }}/" aria-label="トップページへ戻る">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </a>
        </header>
        {{ content }}
      </article>
    </div>
    {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section>{% endif %}
  </main>
  {% include scripts.html %}
  {% assign render_mathjax = page.mathjax %}
  {% if content contains 'type="math/tex' %}{% assign render_mathjax = true %}{% endif %}
  {% if content contains '\(' %}{% assign render_mathjax = true %}{% endif %}
  {% if content contains '\[' %}{% assign render_mathjax = true %}{% endif %}
  {% if site.mathjax == true and render_mathjax == true %}{% include mathjax.html %}{% endif %}
</body>
</html>
