---
layout: compress
---
<!DOCTYPE html>
<html lang="ja" class="no-js">
<head>
  {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <main class="header">
    <div class="wrapper">
      <div class="content">
        <header class="post-title">
          <h1>{{ page.title | escape }}</h1>
          {% if page.excerpt %}<p>{{ page.excerpt | escape }}</p>{% endif %}
          <a class="btn zoombtn" href="{{ site.url }}/" aria-label="トップページへ戻る">
            <i class="fa fa-home" aria-hidden="true"></i>
          </a>
        </header>
        {% assign posts = site.posts | sort: 'sort_key' | reverse %}
        <div class="post-list">
          <ul>
            {% for post in posts %}
              {% unless post.hide_from_post %}{% include post-summary.html post=post compact=true %}{% endunless %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </main>
  {% include scripts.html %}
</body>
</html>
