---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
  {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <!-- Header -->
  <header class="header" role="banner">
	<div class="wrapper">
	  <div class="content">
		<div class="post-title {% if page.feature %} feature {% endif %}" style="margin: 0px;">
		  <h1 style="margin: 0px;">{{ page.title }}</h1>
		  <p style="margin: 0px;">date: {{ page.date | date: "%F" }} excerpt: {{ page.excerpt }}</p>
		  <p style="margin: 0px;">tag: {% for tag in page.tags %}<a style="margin: 2px;" href="{{ site.url }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}" class="tag">{{ tag }}</a>{% unless forloop.last %}{% endunless %}{% endfor %}</p>
		</div>
		<hr>

		{{ content }}
		<div class="entry-meta">
		  {% include meta.html %}
		</div>
	  </div>
	</div>
	{% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
  </header>
  {% include scripts.html %}
  {% if site.mathjax == true %}
  <!-- MathJax -->
  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {% endif %}
</body>
</html>
